<nav aria-label="navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item {{'disabled' if not pagination.has_prev else ''}}">
      <a class="page-link" href="{{url_for(url_name, page=pagination.prev_num)}}">«</a>
    </li>
    {% for page_num in pagination.iter_pages(): %}
      {% if page_num %}
        <li
          {% if page_num == pagination.page %}
            class="page-item active"  aria-current="page"
          {% else %}
            class="page-item" 
          {% endif%} 
        >
          <a class="page-link" href="{{url_for(url_name, page=page_num)}}">
            {{page_num}}
          </a>
      {% else %}
          <li class="page-item">
            <a class="page-link" href="#">...</a>
      {% endif%}
      </li>
    {% endfor%}
    <li class="page-item {{'disabled' if not pagination.has_next else ''}}">
      <a class="page-link" href="{{url_for(url_name, page=pagination.next_num)}}">»</a>
    </li>
  </ul>
</nav>