<div class="card-body">
    <div class="form-group">
        {{ form.name.label(class="form-label text-capitalize") }}
        {{ form.name(value=box.name if box.name else "", class="form-control") }}
    </div>

    <div class="row">
        {% if box.id %}
            <div class="form-group col-6">
                {{ form.value.label(class="form-label text-capitalize") }}
                {{ form.value(value=box.value, class="form-control text-gray") }}
            </div>
        {% endif %}

        <div class="form-group {{ 'col-6' if box.id else 'col-12' }}">
            {{ form.goal.label(class="form-label text-capitalize") }}
            {{ form.goal(value=box.goal, class="form-control") }}
        </div>
    </div>

    <div class="form-group">
        {{ form.description.label(class="form-label text-capitalize") }}
        {{ form.description(class="form-control") }}
    </div>
</div>

<div class="card-footer pull-right">
    <div class="d-flex justify-content-between">
        <a 
            href="{{ url_for('webui.myBoxes') }}" 
            class="btn btn-block btn-secondary col-3"
            style="align-self: end; height: 38px;"
        >
            Voltar para caixinhas
        </a>
        {% if box.id %}
            <a class="btn btn-block col-3 btn-outline-info" href="{{url_for('webui.newTransaction', box_id=box.id)}}"><i class="nav-icon fas fa-random mr-2"></i>Resgatar/Guardar</a>
        {% endif %}
        <div class="btn-group col-4" style="align-self: end; height: 38px;">
            <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-save mr-2"></i>Salvar</button>
            {% if box.id %}
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                </a>
                <div class="dropdown-menu" role="menu">
                    <button type="submit" class="dropdown-item"><i class="fa fa-save mr-2"></i>Salvar</button>
                    <a href="{{url_for('webui.deleteBox', id=box.id)}}" class="dropdown-item" style="color: #ff5151"><i class="fa fa-trash mr-2"></i>Deletar</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.getElementById('description').value = "{{ box.description if box.description else "" }}"
</script>