{% extends '/layout/base.html' %}

{% block header_title %}Minhas Caixinhas{% endblock %}
{% block content %}
  <div class="col-12 card card-primary flex-wrap align-content-center p-md-4" style="min-height: 70vh">
    <div class="col-12 col-sm-6 col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Nova caixinha</h3>
            </div>
        
            {{ form.csrf_token }}

            <form method="POST" action="{{url_for('webui.newBox')}}">
                {% include "boxes/__form.html" with context %}
            </form>
        </div>
    </div>
  </div>
{% endblock%}