{% extends '/base.html' %}

{% block custom_title %}Register{% endblock %}

{% block bodyClasses %}register-page{% endblock %}

{% block content %}
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <p class="h1"><b>Nu@</b>Box</p>
        {% include 'flash_messages.html' %}
      </div>
      <div class="card-body">
        <p class="login-box-msg">Criar um novo usuário</p>
        <form method="POST" action="/auth/signup">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="row text-center"> <a href="{{ url_for('auth.login') }}" class="col-12">Eu já tenho um cadastro!</a> </div>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->
{% endblock %}