{% extends '/base.html' %}

{% block custom_title %}Login{% endblock %}

{% block bodyClasses %}login-page{% endblock %}

{% block content %}
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <p class="h1"><b>Nu@</b>Box</p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
          {% endif %}
        {% endwith %}
      </div>
      <div class="card-body">
        <p class="login-box-msg">Faça o login para iniciar sua sessão</p>
        <form method="POST" action="/auth/login">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <input class="form-control" name="username" placeholder="Username">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <input type="password" name="password" class="form-control" placeholder="Senha">
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">
                  Lembrar-me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mb-0">
          <a href="{{ url_for('auth.signup') }}" class="text-center">Criar um novo usuário</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
{% endblock %}


