{% extends '/base.html' %}

{% block custom_title %}Register{% endblock %}

{% block bodyClasses %}register-page{% endblock %}

{% block content %}
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <p class="h1"><b>Nu@</b>Box</p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="notification is-danger">
                  {{ messages[0] }} Login at <a href="{{ url_for('auth.login') }}">login page</a>.
              </div>
          {% endif %}
        {% endwith %}
      </div>
      <div class="card-body">
        <p class="login-box-msg">Criar um novo usuário</p>
        <form method="POST" action="/auth/signup">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <a href="{{ url_for('auth.login') }}" class="text-center">Eu já tenho un cadastro!</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->
{% endblock %}