<div class="card-body">
    <div class="form-group">
        {{ form.name.label(class="form-label text-capitalize") }}
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-tag"></i>
                </span>
            </div>
            {{ form.name(value=box.name if box.name else "", class="form-control") }}
        </div>
    </div>

    <div class="row">
        {% if box.id %}
            <div class="col-lg-6 col-md-12 mb-2">
                {{ form.value.label(class="form-label text-capitalize") }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    {{ form.value(value=box.value, class="form-control text-gray") }}
                </div>
            </div>
        {% endif %}

        <div class="form-group {{ 'col-lg-6 col-md-12' if box.id else 'col-12' }}">
            {{ form.goal.label(class="form-label text-capitalize") }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-flag"></i>
                    </span>
                </div>
                {{ form.goal(value=box.goal, class="form-control") }}
                <div class="input-group-append">
                    <span class="input-group-text">,00</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form.description.label(class="form-label text-capitalize") }}
        {{ form.description(class="form-control") }}
    </div>
</div>

<div class="card-footer pull-right">
    <div class="row d-flex justify-content-end" style="column-gap: 4px">
        <a 
            href="{{ url_for('webui.myBoxes') }}" 
            class="col-lg-3 btn btn-secondary mb-2"
            style="align-self: end; height: 38px;"
        >
            <i class="fas fa-chevron-left"></i>
            Voltar
        </a>

        {% if box.id %}
            <row class="col-lg-4 text-nowrap p-0 d-flex justify-content-end mb-2">
                <a 
                    class="col-md-12  btn btn-block btn-outline-info" 
                    href="{{url_for('webui.newTransaction', box_id=box.id)}}"
                    style="height: 38px"
                >
                        <i class="nav-icon fas fa-random mr-2"></i>Movimentar
                </a>
            </row>
        {% endif %}

        <div class="col-lg-4 btn-group text-nowrap p-0" style="height: 38px;">
            <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-save mr-2"></i>Salvar</button>
            {% if box.id %}
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                </a>
                <div class="dropdown-menu" role="menu">
                    <button type="submit" class="dropdown-item"><i class="fa fa-save mr-2"></i>Salvar</button>
                    <a href="{{url_for('webui.deleteBox', id=box.id)}}" class="dropdown-item" style="color: #ff5151"><i class="fa fa-trash mr-2"></i>Deletar</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.getElementById('description').value = "{{ box.description if box.description else "" }}"
</script>