  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark bg-purple">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ url_for('webui.index') }}" class="nav-link">Home</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('webui.profile')}}">
          <i class="fa fa-wallet mr-1"></i>
          {{current_user.balance.total|format_money()}}
        </a>  
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="{{url_for('webui.profile')}}">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <p class="dropdown-footer"><b>Minha conta</b></p>
          <div class="dropdown-divider"></div>
          <a href="{{url_for('webui.profile')}}" class="dropdown-item">
            <i class="fa fa-exchange-alt mx-2"></i> Transacionar valores
          </a>
          <div class="dropdown-divider"></div>
          <div class="info dropdown-item dropdown-footer">
            <a href="/auth/logout" class="d-block text-red m-r-4">
              <i class="mr-lg-2 fas fa-sign-out-alt"></i>
              Sair
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->