{% extends 'layout/base.html' %}

{% block header_title %}Dashboard{% endblock %}
{% block content %}
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-success elevation-1"><i class="fas fa-money-bill-wave"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Saldo total</span>
        <span class="info-box-number">
          {{dashboard['all_summation']|format_money()}}
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-info elevation-1"><i class="fas fa-box-open"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Saldo nas caixinhas</span>
        <span class="info-box-number">
          {{dashboard['total_in_boxes']|format_money()}}
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-flag"></i></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Metas alcançadas</span>
        <span class="info-box-number">{{dashboard['count_all_goal_boxes']}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix hidden-md-up"></div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-exchange-alt mx-2" style="transform: rotate(90deg)"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Depósitos/resgates nas caixinhas</span>
        <span class="info-box-number d-flex text-nowrap">
          <span class="mr-2"><i class="fas fa-arrow-down text-warning"></i>{{dashboard['sum_of_withdraws_from_boxes']|format_money()}}</span>
          <span><i class="fas fa-arrow-up text-success"></i>{{dashboard['sum_of_deposits_from_boxes']|format_money()}}</span>
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  </div>
  <!-- /.row -->

  <!-- Main row -->
  <div class="row">
  <div class="row col-md-12 mb-3 pr-0">
    <div class="col-md-6 col-sm-12 d-flex flex-column flex-wrap align-items-left">
      <p class="mb-1 pl-1 border-left">
        Transações nas caixinhas durante esta semana 
        <span class="badge badge-info">
          {{dashboard['count_transactions_in_boxes_by_week_day'][operation.DEPOSIT.name]|sum() + dashboard['count_transactions_in_boxes_by_week_day'][operation.WITHDRAW.name]|sum()}}
        <span>
      </p>
      <canvas id="deposit_withdraw" style="width:100%;max-width:700px;background: #24153e;"></canvas>
    </div>
    <div class="col-md-6 col-sm-12 pr-0 d-flex flex-column flex-wrap align-items-end">
      <p class="mb-1 pr-1 border-right">Depósitos/resgates nas caixinhas - Em pizza</p>
      <canvas id="deposit_withdrawPie" style="width:100%;max-width:700px;background: #24153e;"></canvas>
    </div>
  </div>  
  <!-- Left col -->
  <div class="col-md-12">
    <!-- TABLE: LATEST TRANSACTIONS -->
    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title"><i class="fas fa-history mx-2"></i>Histórico de Movimantações</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table m-0">
            {% include "transactions/__tableContent.html" with context %}
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <a href="{{ url_for('webui.myTransactions') }}" class="btn btn-sm btn-secondary float-right">
          <h3 class="card-title"><i class="fas fa-eye mx-2"></i>Ver completo</h3>
        </a>
      </div>
      <!-- /.card-footer -->
    </div>
  </div>
  <!-- /.card -->
{% endblock%}

{% block scripts %}
    <script>
      const labels = ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'];
      const deposits = {{dashboard['count_transactions_in_boxes_by_week_day'][operation.DEPOSIT.name]}}
      const withdraws = {{dashboard['count_transactions_in_boxes_by_week_day'][operation.WITHDRAW.name]}}

      const data = {
        labels: labels,
        datasets: [
          {
            label: 'Resgates',
            data: withdraws,
            borderColor: '#af891b',
            backgroundColor: '#e7c96e',
          },
          {
            label: 'Depósitos',
            data: deposits,
            borderColor: '#28a745',
            backgroundColor: '#62f181',
          }
        ]
      };

      const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Transações nas caixinhas por dia da semana'
            }
          }
        },
      };
      new Chart("deposit_withdraw", config);

      const sum_of_withdraws = {{dashboard['sum_of_withdraws_from_boxes'] if dashboard['sum_of_withdraws_from_boxes'] else 0}}
      const sum_of_deposits = {{dashboard['sum_of_deposits_from_boxes'] if dashboard['sum_of_deposits_from_boxes'] else 0}}

      const dataPie = {
        labels: ['Resgates R$', 'Depósitos R$'],
        datasets: [
          {
            data: [sum_of_withdraws, sum_of_deposits],
            borderColor: ['#c96e', '#621'],
            backgroundColor: ['#e7c96e', '#62f181']
          }
        ]
      };

      const configPie = {
        type: 'pie',
        data: dataPie,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Depósitos/resgates nas caixinhas - Em pizza'
            }
          }
        },
      };
      new Chart("deposit_withdrawPie", configPie);
    </script>
{% endblock %}